<div id="feathers">
</div>
<div class="container" [ngClass]="{'is-loading': pageLoading, 'is-loaded': !pageLoading}">
    <div class="page-loader-wrapper">
        <div class="page-loader"></div>
    </div>

    <div *ngIf="!pageLoading" class="column is-fullheight">
        <div class="card">
            <!-- <div class="card-image">
                <figure class="image">
                    <img style="height: 400px;" src="https://bulma.io/images/placeholders/1280x960.png"
                        alt="Placeholder image">
                </figure> 
            </div>-->
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">Aviary</p>
                        <p class="subtitle is-6">{{user.birds}}/{{user.maxbirds}} birds</p>
                        <button *ngIf="user.hasnotifications" class="button is-danger" (click)="redirect(['/messages'])"> You have new messages !</button>
                    </div>
                </div>

                <div class="content">
                    <div class="columns is-multiline">
                        <div *ngFor="let detailedPigeon of detailedPigeons"
                            class="column is--widescreen is-3-desktop is-6-tablet is-12-mobile">
                            <div class="pigeon card" [ngClass]="{'uncommon':detailedPigeon.pigeon.rank==2,'rare':detailedPigeon.pigeon.rank==3,'epic':detailedPigeon.pigeon.rank==4,'legendary':detailedPigeon.pigeon.rank==5}" (click)="selectPigeon(detailedPigeon.pigeon)">
                                <div class="top">
                                    <a class="button is-danger is-small"
                                        (click)="deletePigeon(detailedPigeon.pigeon.id)">Sell
                                        {{detailedPigeon.pigeon.feathers}}
                                        &nbsp;
                                        <span class="icon">
                                            <fa-icon [icon]="['far', 'feather-alt']"></fa-icon>
                                        </span>
                                    </a></div>
                                <div class="card-image">
                                    <figure class="image">
                                        <img [src]="getPigeonImage(detailedPigeon.pigeon)">
                                    </figure>
                                    <!-- <div class="points">{{detailedPigeon.statistics.totalPoints}}</div> -->
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">{{detailedPigeon.pigeon.nickname}}</p>
                                            <p class="subtitle is-5">{{detailedPigeon.pigeon.name}} - Rank {{detailedPigeon.pigeon.rank}}</p>
                                            <!-- <p class="subtitle is-6">Rank : {{detailedPigeon.pigeon.rank}}</p> -->
                                        </div>
                                    </div>
                                    <div class="buttons has-addons is-centered">
                                        <button class="button" [class.attacker]="detailedPigeon.pigeon.attacker" [disabled]="nbrAttackers>=5 && !detailedPigeon.pigeon.attacker" (click)="setAttacker(detailedPigeon.pigeon.id)">Set
                                            attacker
                                            &nbsp;
                                            <span class="icon">
                                                <fa-icon [icon]="['far', 'sword']"></fa-icon>
                                            </span>
                                        </button>

                                        <button class="button"  [class.defender]="detailedPigeon.pigeon.defender" [disabled]="nbrDefenders>=5 && !detailedPigeon.pigeon.defender" (click)="setDefender(detailedPigeon.pigeon.id)">Set
                                            defender
                                            &nbsp;
                                            <span class="icon">
                                                <fa-icon [icon]="['far', 'shield']"></fa-icon>
                                            </span>
                                        </button>
                                    </div>


                                    <div class="content">
                                        <div class="stats-container">
                                            <div class="stat attack">{{detailedPigeon.pigeon.attack}}
                                                <fa-icon [icon]="['far', 'sword']" size="1x"></fa-icon>
                                            </div>
                                            <div class="stat defense">{{detailedPigeon.pigeon.defense}}
                                                <fa-icon [icon]="['far', 'shield']" size="1x"></fa-icon>
                                            </div>
                                            <div class="stat shield">{{detailedPigeon.pigeon.shield}}
                                                <fa-icon [icon]="['far', 'helmet-battle']" size="1x"></fa-icon>
                                            </div>
                                        </div>
                                        <!-- <progress class="progress is-warning" [value]="detailedPigeon.pigeon.energy"
                                            max="detailedPigeon.pigeon.maxenergy"></progress> -->
                                        <!-- <span
                                            class="progress-value">{{detailedPigeon.pigeon.energy}}/{{detailedPigeon.pigeon.maxenergy}}
                                            <fa-icon [icon]="['far', 'bolt']" size="1x"></fa-icon>
                                        </span> -->
                                        <div>+ {{detailedPigeon.pigeon.droppingsminute}} <fa-icon
                                                [icon]="['far', 'poop']" size="1x"></fa-icon>
                                           /min</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>