@import "../../../styles.less";
.stat{
    width: 23%;
        height: 35px;
        border-radius: 50%;
        font-size:0.9em;
        background-color: rgb(175,175,175);
        color: white;
        text-align: center;
        line-height: 35px;
        margin-left:10px;
        padding-top:3px;
        display:inline-block;
        // float:left;
}
.attack{
    
    background-color:@red;
    color: white;
}
.defense{
    
    background-color:@blue;
    color: white;
}
.shield{
    
    background-color:@green;
    color: white;
}
.attacker{
    color:white;
    background-color: @red;
}
.defender{
    color:white;
    background-color: @blue;
}
.stats-container{
    position: relative;
}
.top{
    width:100%;
    display:inline-block;
    color:white;
    p{
        margin:0;
        padding-top: 0.2em;
        padding-left: 0.2em;
        float:left;
    }
}

.common{
    border:0.5px solid darkgray;
    .top{
        color:black ;
        border-bottom:0.5px solid darkgray;
    }
}

.uncommon {
    border:0.5px solid @green;
    
    .top{
        background-color:@green;
    }
    img{
        filter: drop-shadow(5px 5px 5px @green);
    }
}

.rare {
    border:0.5px solid @blue;
.top{
    background-color:@blue;
}
img{
    filter: drop-shadow(5px 5px 5px @blue);
}
}

.epic{
    border:0.5px solid @purple;
 .top{
    background-color:@purple;
}
img{
    filter: drop-shadow(5px 5px 5px @purple);
}
}

.legendary{
    border:0.5px solid @solidgold;
     .top{background-color:@solidgold;
}
img{
    filter: drop-shadow(5px 5px 5px @solidgold);
}
}
.event{
    border:0.5px solid @red;
     .top{background-color:@red;
}
img{
    filter: drop-shadow(5px 5px 5px @red);
}
}

.button.is-danger{
    background-color: #f14438
}
.button.is-danger[disabled] {
    color:white;
    background-color: rgb(110, 110, 110);
    opacity:1;
}

#attacked-notification{
    float:left;
}

.droppings{
    font-weight: 900;
    padding-top:5px;
}

.pigeon.card {
    top: 0px;
    transition: all 0.15s ease 0s;
    //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    .card-image {
        padding-top: 20px;
    }

    .points {
        right: 10px;
        top: 10px;
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgb(175,175,175);
        color: white;
        text-align: center;
        line-height: 35px;
    }
}
.field{
    float:left;
}


.is-danger{
    padding:0.4em;
    font-size: .9rem;
    float:right;
    z-index:25;
}

#feathers{
    //background-color: green;
    width:100%;
    height:100%;
    position:absolute;
    z-index:100;
    display:none;

}

