<div id="feathers">
</div>
<div class="container" [ngClass]="{'is-loading': pageLoading, 'is-loaded': !pageLoading}">
    <div class="page-loader-wrapper">
        <div class="page-loader"></div>
    </div>

    <div *ngIf="!pageLoading" class="column is-fullheight">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">Aviary</p>
                        <p class="subtitle is-6">{{user.birds}}/{{user.maxbirds}} birds<br>
                            {{nbrAttackers}}/5 attackers - Total Attack : {{totalAttack}}<br>
                            {{nbrDefenders}}/5 defenders - Total Defense : {{totalDefense}}
                        </p>
                        <button *ngIf="user.hasnotifications" class="button is-danger" id="attacked-notification"
                            (click)="redirect(['/messages'])"> You have been attacked !</button>
                    </div>
                    <div class="field">
                        <label class="label">Order by</label>
                        <div class="control" >
                            <div class="select" id="sortselect">
                                <select (change)="changeOrder($event.target.value)">
                                    <option value="1">Newest</option>
                                    <option value="2">Oldest</option>
                                    <option value="3">Best attack</option>
                                    <option value="4">Best defense</option>
                                    <option value="5">Most Droppings</option>
                                    <option value="6">Least Droppings</option>
                                    <option value="7">Rank</option>
                                    <option value="8">Type</option>
                                    <option value="9">Attack position</option>
                                    <option value="10">Defense position</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="columns is-multiline">
                        <div *ngFor="let detailedPigeon of detailedPigeons"
                            class="column is--widescreen is-3-desktop is-6-tablet is-12-mobile">
                            <div class="pigeon card"
                                [ngClass]="{'common':detailedPigeon.pigeon.rank==1,'uncommon':detailedPigeon.pigeon.rank==2,'rare':detailedPigeon.pigeon.rank==3,'epic':detailedPigeon.pigeon.rank==4,'legendary':detailedPigeon.pigeon.rank==5}">
                                <div class="top">
                                    <p>{{detailedPigeon.statistics.rankAsExpression}}</p>
                                    <button class="button is-danger is-small"
                                        (click)="deletePigeon(detailedPigeon.pigeon.id)"
                                        [disabled]="detailedPigeon.pigeon.attacker || detailedPigeon.pigeon.defender">Sell
                                        {{detailedPigeon.pigeon.feathers}}
                                        &nbsp;
                                        <span class="icon">
                                            <fa-icon [icon]="['far', 'feather-alt']"></fa-icon>
                                        </span>
                                    </button></div>
                                <div class="card-image">
                                    <figure class="image">
                                        <img [src]="getPigeonImage(detailedPigeon.pigeon)">
                                    </figure>
                                    <!-- <div class="points">{{detailedPigeon.statistics.totalPoints}}</div> -->
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">{{detailedPigeon.pigeon.nickname}}</p>
                                            <p class="subtitle is-5">{{detailedPigeon.pigeon.name}} </p><!--- Rank
                                                {{detailedPigeon.pigeon.rank}}</p>
                                             <p class="subtitle is-6">Rank : {{detailedPigeon.pigeon.rank}}</p> -->
                                        </div>
                                    </div>
                                    <div class="buttons has-addons is-centered">
                                        <button class="button" [class.attacker]="detailedPigeon.pigeon.attacker"
                                            [disabled]="nbrAttackers>=5 && !detailedPigeon.pigeon.attacker"
                                            (click)="setAttacker(detailedPigeon.pigeon.id)">Set
                                            attacker
                                            &nbsp;
                                            <span class="icon">
                                                <fa-icon [icon]="['far', 'sword']"></fa-icon>
                                            </span>
                                            &nbsp;
                                        </button>

                                        <button class="button" [class.defender]="detailedPigeon.pigeon.defender"
                                            [disabled]="nbrDefenders>=5 && !detailedPigeon.pigeon.defender"
                                            (click)="setDefender(detailedPigeon.pigeon.id)">Set
                                            defender
                                            &nbsp;
                                            <span class="icon">
                                                <fa-icon [icon]="['far', 'shield']"></fa-icon>
                                            </span>
                                        </button>
                                    </div>


                                    <div class="content">
                                        <div class="stats-container">
                                            <div class="stat attack">{{detailedPigeon.pigeon.attack}}
                                                <fa-icon [icon]="['far', 'sword']" size="1x"></fa-icon>
                                            </div>
                                            <div class="stat defense">{{detailedPigeon.pigeon.defense}}
                                                <fa-icon [icon]="['far', 'shield']" size="1x"></fa-icon>
                                            </div>
                                            <div class="stat shield">{{detailedPigeon.pigeon.shield}}
                                                <fa-icon [icon]="['far', 'helmet-battle']" size="1x"></fa-icon>
                                            </div>
                                        </div>
                                        <!-- <progress class="progress is-warning" [value]="detailedPigeon.pigeon.energy"
                                            max="detailedPigeon.pigeon.maxenergy"></progress> -->
                                        <!-- <span
                                            class="progress-value">{{detailedPigeon.pigeon.energy}}/{{detailedPigeon.pigeon.maxenergy}}
                                            <fa-icon [icon]="['far', 'bolt']" size="1x"></fa-icon>
                                        </span> -->
                                        <div class="droppings">+ {{detailedPigeon.pigeon.droppingsminute}} <fa-icon
                                                [icon]="['far', 'poop']" size="1x"></fa-icon>
                                            /minute</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>