<div class="container has-text-centered">
    <div class="column is-4 is-offset-4">
        <h3 class="title">
            Register
        </h3>
        <div class="box">
            <form>
                <div class="field">
                    <div class="control">
                        <input class="input" type="email" placeholder="Your Email" autofocus="">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input" type="password" placeholder="Your Password">
                    </div>
                </div>
                <button type = "button" (click)="test()" class="button is-block is-info is-fullwidth">Register</button>
            </form>
        </div>
        <p class="has-text-grey">
            <a [routerLink]="['/login']">Back To Home</a>
        </p>
    </div>
</div>