
<div class="container">
    
       
    <div class="mt-20"></div>
    <div class="columns">
        
           
        <div class="column is-12">
                <div class="field">
                        <label class="label">Achievement type : </label>
                        <div class="control">
                            <div class="select" id="sortselect">
                                <select (change)="changeFilter($event.target.value)">
                                    <option value="all">All</option>
                                    <option value="lvl">Level</option>
                                    <option value="legendaries">Legendaries</option>
                                    <option value="droppingsminute">Droppings</option>
                                    <option value="militaryscore">Military score</option>
                                    <option value="soldpigeons">Sold droppings</option>
                                    <option value="eventparticipation">Events</option>
                                    <option value="totalwinattacks">Attacks</option>
                                    <option value="totalwindefenses">Defenses</option>
                                </select>
                            </div>
                        </div>
                    </div>
            <div *ngFor="let achievement of filteredAchievements" class="column">
                <div class="card" *ngIf="userachievements">
                    <div class="card-background" [ngClass]="{'completed':userachievements[achievement.id] || user[achievement.attribute] > achievement.value, 
                            'lvl':achievement.attribute == 'lvl',
                            'legend':achievement.attribute == 'legendaries',
                            'droppings':achievement.attribute == 'droppingsminute',
                            'military':achievement.attribute == 'militaryscore',
                            'sell':achievement.attribute == 'soldpigeons',
                            'event':achievement.attribute == 'eventparticipation',
                            'attacks':achievement.attribute == 'totalwinattacks',
                            'defences':achievement.attribute == 'totalwindefenses'
                        }"></div>
                    <div class="card-content">
                        <div class="media-left">
                            <div *ngIf="userachievements[achievement.id]; then completedBlock else unCompletedBlock">
                            </div>
                            <ng-template #completedBlock>
                                <span class="icon">
                                    <fa-icon [icon]="['far', 'trophy-alt']" size="2x"></fa-icon>
                                </span>
                            </ng-template>
                            <ng-template #unCompletedBlock>
                                <span class="icon">
                                    <fa-icon [icon]="['far', 'trophy']" size="2x"></fa-icon>
                                </span>
                            </ng-template>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{achievement.name}}</p>
                            <!-- <p class="subtitle is-6">Difficulté: {{achievement.difficulty}}</p> -->
                        </div>
                        <div class="content">
                            {{achievement.description}}
                        </div>
                        <button *ngIf="!userachievements[achievement.id]" class="button" [disabled]="user[achievement.attribute] < achievement.value"
                            (click)="claimAchievement(achievement.id)">Claim Reward {{achievement.reward}}
                            <span class="icon">
                                <fa-icon [icon]="['far', 'trophy']"></fa-icon>
                            </span>
                            &nbsp;
                        </button>
                        <div class="is-info" *ngIf="userachievements[achievement.id]">
                            Completed !
                        </div>
                    </div>
                    <div class="progress-cont" *ngIf="!userachievements[achievement.id]">
                        <progress class="progress" [value]="user[achievement.attribute]" [max]="achievement.value"></progress>
                        <p>{{user[achievement.attribute]}} / {{achievement.value}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>