<div class="container">
    <div class="mt-20"></div>
    <div class="columns">
        <div class="column is-12">
            <div *ngFor="let achievement of achievements" class="column">
                <div class="card" *ngIf="userachievements" [ngClass]="{'completed':userachievements[achievement.id] || user[achievement.attribute] > achievement.value, 
                            'lvl':achievement.attribute == 'lvl',
                            'legend':achievement.attribute == 'legendaries',
                            'droppings':achievement.attribute == 'droppingsminute',
                            'military':achievement.attribute == 'militaryscore',
                            'sell':achievement.attribute == 'soldpigeons',
                            'event':achievement.attribute == 'eventparticipation',
                            'attacks':achievement.attribute == 'totalwinattacks',
                            'defences':achievement.attribute == 'totalwindefenses'
                        }">
                    <!-- <div class="card" *ngIf="userachievements" [ngClass]="{'completed':userachievements[achievement.id] || user[achievement.attribute] > achievement.value ,
                            'lvl':achievement.attribute.equals('lvl'),
                            'legend':achievement.attribute.equals('legendaries'),
                            'droppings':achievement.attribute.equals('droppingsminute'),
                            'military':achievement.attribute.equals('militaryscore'),
                            'sell':achievement.attribute.equals('soldpigeons'),
                            'event':achievement.attribute.equals('eventparticipation'),
                            'attacks':achievement.attribute.equals('totalwinattacks'),
                            'defences':achievement.attribute.equals('totalwindefenses')
                        }"> -->
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <div *ngIf="userachievements[achievement.id]; then completedBlock else unCompletedBlock">
                                </div>
                                <ng-template #completedBlock>
                                    <span class="icon">
                                        <fa-icon [icon]="['far', 'trophy-alt']" size="2x"></fa-icon>
                                    </span>
                                </ng-template>
                                <ng-template #unCompletedBlock>
                                    <span class="icon">
                                        <fa-icon [icon]="['far', 'trophy']" size="2x"></fa-icon>
                                    </span>
                                </ng-template>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">{{achievement.name}}</p>
                                <!-- <p class="subtitle is-6">Difficulté: {{achievement.difficulty}}</p> -->
                            </div>
                        </div>

                        <div class="content">
                            {{achievement.description}}
                        </div>
                        <button *ngIf="!userachievements[achievement.id]" class="button" [disabled]="user[achievement.attribute] < achievement.value"
                            (click)="claimAchievement(achievement.id)">Claim Reward {{achievement.reward}}
                            <span class="icon">
                                <fa-icon [icon]="['far', 'trophy']"></fa-icon>
                            </span>
                            &nbsp;
                        </button>
                        <div class="is-info" *ngIf="userachievements[achievement.id]">
                            Completed !
                        </div>
                    </div>
                    <footer class="card-footer has-text-left">
                        <div class="progress-cont">
                            <progress class="progress is-primary" [value]="user[achievement.attribute]" [max]="achievement.value"></progress><br>
                            {{user[achievement.attribute]}} / {{achievement.value}}
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>