<div class="container" [ngClass]="{'is-loading': pageLoading, 'is-loaded': !pageLoading}">

  <div class="page-loader-wrapper">
    <div class="page-loader"></div>
  </div>
  <div *ngIf="!pageLoading">
    <div class="overflow">
      <table class="table table is-bordered">
        <thead>
          <tr>
            <th></th>
            <th>Player</th>
            <th>Lvl</th>
            <th>Military Score</th>
            <th>Spent Seeds</th>
            <th>Spent Droppings</th>
            <th>Spent Feathers</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of allusers| paginate: { itemsPerPage: 100, currentPage: page }"
          [ngClass]="{'higher':mainuser.lvl<user.lvl,'lower':mainuser.lvl>user.lvl,'equal':mainuser.lvl==user.lvl}">
            <td>
              <div *ngIf="user.id!=mainuser.id"><button class="button is-primary"
                  [disabled]="user.protecteduntil>now||mainuser.nextpossibleattack>now||mainuser.lastattack==user.id"
                  (click)="attackPlayer(user.id)">Attack</button></div>
            </td>
            <td>{{user.username}}</td>
            <td>{{user.lvl}}</td>
            <td>{{user.militaryscore}}</td>
            <td>{{user.totalspentseeds| numberAbbreviated}}</td>
            <td>{{user.totalspentdroppings| numberAbbreviated}}</td>
            <td>{{user.totalspentfeathers| numberAbbreviated}}</td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="has-text-centered" *ngIf="allusers.length>100">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>