<div class="container" [ngClass]="{'is-loading': pageLoading, 'is-loaded': !pageLoading}">
    <div class="page-loader-wrapper">
        <div class="page-loader"></div>
    </div>
    <div *ngIf="user" class="column is-fullheight">
        <div class="card">
            <!-- <div class="card-image">
                <figure class="image">
                    <img style="height: 400px;" src="https://bulma.io/images/placeholders/1280x960.png"
                        alt="Placeholder image">
                </figure>
            </div> -->
            <button *ngIf="user.hasnotifications" class="button is-danger" (click)="redirect(['/messages'])"> You have
                new messages !</button>
            <button class="button is-warning" (click)="redirect(['/help'])"><strong> Don't know where to start ? Go to
                    Help</strong></button>

            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="/assets/marker/{{user.icon}}" alt="icon">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{user.username | titlecase}}</p>
                        <p class="subtitle is-6">Pigeons Agency v0.2</p>
                    </div>
                </div>

                <div class="content">
                    <div class="columns is-multiline">
                        <div class="column is-3-widescreen is-3-desktop is-6-tablet is-12-mobile has-text-centered">
                            <article class="tile is-child box">
                                <p class="title">{{user.birds}}/{{user.maxbirds}}</p>
                                <p class="subtitle">Pigeons
                                    <span class="icon">
                                        <fa-icon [icon]="['far', 'crow']"></fa-icon>
                                    </span>
                                </p>
                                <p class="subtitle">&nbsp;</p>
                            </article>
                        </div>
                        <div class="column is-3-widescreen is-3-desktop is-6-tablet is-12-mobile has-text-centered">
                            <article class="tile is-child box">
                                <p class="title">{{user.seeds | number: '1.0-0'}}/{{user.maxseeds}}</p>
                                <p class="subtitle">Seeds
                                    <span class="icon">
                                        <fa-icon [icon]="['far', 'seedling']"></fa-icon>
                                    </span></p>
                                <p class="subtitle">+ {{user.seedsminute}} / min</p>
                            </article>
                        </div>
                        <div class="column is-3-widescreen is-3-desktop is-6-tablet is-12-mobile has-text-centered">
                            <article class="tile is-child box">
                                <p class="title">{{user.feathers}}</p>
                                <p class="subtitle">Feathers
                                    <span class="icon">
                                        <fa-icon [icon]="['far', 'feather-alt']"></fa-icon>
                                    </span>
                                </p>
                                <p class="subtitle">&nbsp;</p>
                            </article>
                        </div>
                        <div class="column is-3-widescreen is-3-desktop is-6-tablet is-12-mobile has-text-centered">
                            <article class="tile is-child box">
                                <p class="title">{{user.droppings| number: '1.0-0'}}/{{user.maxdroppings}}</p>
                                <p class="subtitle">Droppings
                                    <span class="icon">
                                        <fa-icon [icon]="['far', 'poop']"></fa-icon>
                                    </span>
                                </p>
                                <p class="subtitle">+ {{user.totaldroppingsminute}} / min</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow">
                <table class="table table is-bordered">
                    <thead>
                        <tr>
                            <th>Top 5 players</th>
                        </tr>
                        <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            <th>Military Score</th>
                            <th>Spent Seeds</th>
                            <th>Spent Droppings</th>
                            <th>Spent Feathers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of allusers; index as i"
                            [ngClass]="{'first':i==0,'second':i==1,'third':i==2}">
                            <td>{{i+1}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.militaryscore}}</td>
                            <td>{{user.totalspentseeds}}</td>
                            <td>{{user.totalspentdroppings}}</td>
                            <td>{{user.totalspentfeathers}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>