.card .media .media-left {
    margin-top: 1rem;
}
.my-expedition{
    border:2px solid #23ce78;
    border-radius:5px;
    padding:2px;
    margin:3px;

}
.expedition{
    cursor:pointer;
    transition:all 0.3s ease;
    
}
.expedition:hover{
    background-color:lightgrey;
}



