@import "../../../styles.less";
.card .media .media-left {
    margin-top: 1rem;
}
.details{
    color:red;
}
.defense{
background-color:rgba(0, 0, 0, 0.637);
color:white;
margin-bottom: 1em;
}
.attack{
    background-color:rgba(255, 255, 255, 0.637);
    color:black;
    margin-bottom: 1em;
}

.result{
    padding-left: 1em;
    font-size: 1.4em;
    margin-bottom: 0.3em;
}
.win{
    background-color: rgba(64, 212, 27, 0.15);
    padding-bottom: 3em;
}
.loss{
    background-color: rgba(212, 101, 27, 0.15);
    padding-bottom: 3em;
}
.info{
    background-color:rgba(255, 255, 34, 0.14);
    padding-bottom: 3em;
}
.float{
    float:left;
    padding-right:5em;
}
.tight{
    line-height: normal;
}
.bottom{    
    position: absolute;
    bottom: -7px;
    margin-top: 0em;
    padding: 1em;
}



