<div class="container has-text-centered">
    <div class="column is-4 is-offset-4">
        <h3 class="title">
            Login
        </h3>
        <div class="box">
            <form [formGroup]="form" (submit)="register()">
                <div class="field">
                    <div class="control">
                        <input formControlName="username" class="input" placeholder="Votre nom d'utilisateur" [ngClass]="{'is-danger': sendAttempt && !form.get('username').valid}">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input formControlName="password" class="input" type="password" placeholder="Votre mot de passe"
                            [ngClass]="{'is-danger': sendAttempt && !form.get('password').valid}">
                    </div>
                </div>
                <button class="button is-block is-info is-fullwidth" [ngClass]="{'is-loading': loading}">Login</button>
            </form>
        </div>
        <p class="has-text-grey">
            <a [routerLink]="['/register']">Inscription</a> &nbsp;·&nbsp;
            <a [routerLink]="['/forgot-password']">Mot de passe oublié</a>
        </p>
    </div>
</div>