<div class="container has-text-centered">
    <div class="column is-4 is-offset-4">
        <h3 class="title">
            Login
        </h3>
        <div class="box">
            <form [formGroup]="form" (submit)="register()">
                <div class="field">
                    <div class="control">
                        <input formControlName="username" class="input" type="email" placeholder="Your Email"
                        [ngClass]="{'is-danger': sendAttempt && !form.get('username').valid}">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input formControlName="password" class="input" type="password" placeholder="Your Password"
                        [ngClass]="{'is-danger': sendAttempt && !form.get('password').valid}">
                    </div>
                </div>
                <button class="button is-block is-info is-fullwidth">Login</button>
            </form>
        </div>
        <p class="has-text-grey">
            <a [routerLink]="['/register']">Register</a> &nbsp;·&nbsp;
            <a [routerLink]="['/forgot-password']">Forgot Password</a> &nbsp;·&nbsp;
            <a [routerLink]="['/help']">Need Help?</a>
        </p>
    </div>
</div>