@import "../../../styles.less";

.container {
    height: 100%;

    .box {
        background-color: @grey
    }

    .title {
        color: @blue
    }

    .column {
        padding-top: 200px;
    }
}