<div class="container" [ngClass]="{'is-loading': pageLoading, 'is-loaded': !pageLoading}">

  <div class="page-loader-wrapper">
    <div class="page-loader"></div>
  </div>
  <div *ngIf="!pageLoading">
    <p>
      {{user.seeds| number: '1.0-0'}}/{{user.maxseeds}} seeds ---
      {{user.droppings| number: '1.0-0'}}/{{user.maxdroppings}} droppings ---
      {{user.feathers}} feathers
    </p>
    <div class="media-content mycont" (click)="upgradeFarm()">
      <p class="title is-4">Farm lvl : {{currentSeedsUpgrade.lvl}} -> {{nextSeedsUpgrade.lvl}}</p>
      <p class="subtitle is-6">Seeds per minute : {{currentSeedsUpgrade.newSeeds}} -> {{nextSeedsUpgrade.newSeeds}}</p>
      <p class="subtitle is-6">To upgrade : {{nextSeedsUpgrade.droppingsCost}} droppings</p>
    </div>
    <div class="media-content mycont" (click)="upgradeAviary()">
      <p class="title is-4">Aviary lvl : {{currentAviaryUpgrade.lvl}} -> {{nextAviaryUpgrade.lvl}}</p>
      <p class="subtitle is-6">Max birds : {{currentAviaryUpgrade.newBirds}} -> {{nextAviaryUpgrade.newBirds}}</p>
      <p class="subtitle is-6">To upgrade : {{nextAviaryUpgrade.feathersCost}} feathers</p>
    </div>
    <div class="media-content mycont" (click)="upgradeFarmStorage()">
      <p class="title is-4">Farm Storage lvl : {{currentSeedsStorage.lvl}} -> {{nextSeedsStorage.lvl}}</p>
      <p class="subtitle is-6">Max seeds : {{currentSeedsStorage.seedsStorage}} -> {{nextSeedsStorage.seedsStorage}}</p>
      <p class="subtitle is-6">To upgrade : {{nextSeedsStorage.droppingsCost}} droppings and
        {{nextSeedsStorage.feathersCost}} feathers</p>
    </div>
    <div class="media-content mycont" (click)="upgradeDroppingsStorage()">
      <p class="title is-4">Droppings Storage lvl : {{currentDroppingsStorage.lvl}} -> {{nextDroppingsStorage.lvl}}</p>
      <p class="subtitle is-6">Max droppings : {{currentDroppingsStorage.droppingsStorage}} ->
        {{nextDroppingsStorage.droppingsStorage}}</p>
      <p class="subtitle is-6">To upgrade : {{nextDroppingsStorage.seedsCost}} seeds and
        {{nextDroppingsStorage.feathersCost}} feathers</p>
    </div>
    <div class="columns is desktop">
      <div class="column">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Farm Level : {{currentSeedsUpgrade.lvl}} -> {{nextSeedsUpgrade.lvl}}</strong>
                  <br>
                  Seeds per minute : {{currentSeedsUpgrade.newSeeds}} -> {{nextSeedsUpgrade.newSeeds}}
                  <br>
                  Upgrade cost : {{nextSeedsUpgrade.droppingsCost}} droppings
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Aviary Level : {{currentAviaryUpgrade.lvl}} -> {{nextAviaryUpgrade.lvl}}</strong>
                  <br>
                  Max birds : {{currentAviaryUpgrade.newBirds}} -> {{nextAviaryUpgrade.newBirds}}
                  <br>
                  Upgrade cost : {{nextAviaryUpgrade.feathersCost}} feathers
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Farm Storage Level : {{currentSeedsStorage.lvl}} -> {{nextSeedsStorage.lvl}}</strong>
                  <br>
                  Max seeds : {{currentSeedsStorage.seedsStorage}} -> {{nextSeedsStorage.seedsStorage}}
                  <br>
                  To upgrade : {{nextSeedsStorage.droppingsCost}} droppings and
                  {{nextSeedsStorage.feathersCost}} feathers
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Droppings Storage Level : {{currentDroppingsStorage.lvl}} ->
                    {{nextDroppingsStorage.lvl}}</strong>
                  <br>
                  Max droppings : {{currentDroppingsStorage.droppingsStorage}} ->
                  {{nextDroppingsStorage.droppingsStorage}}
                  <br>
                  Upgrade cost : {{nextDroppingsStorage.seedsCost}} seeds and
                  {{nextDroppingsStorage.feathersCost}} feathers
                </p>
              </div>
            </div>
          </article>

        </div>
      </div>


    </div>

  </div>