<div class="container" [ngClass]="{'is-loading': pageLoading, 'is-loaded': !pageLoading}">
  <div class="page-loader-wrapper">
    <div class="page-loader"></div>
  </div>
  <div *ngIf="!pageLoading">
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-2">
              <h1 class="title">Level : {{user.lvl}}</h1>
            </div>
            <div class="column is-2">
              <h1 class="subtitle">
                {{user.seeds| number: '1.0-0'}}/{{user.maxseeds| number: '1.0-0'}}
                <span class="icon">
                  <fa-icon [icon]="['far', 'seedling']" size="1x"></fa-icon>
                </span><br>
                seeds
              </h1>
            </div>
            <div class="column is-2">
              <h1 class="subtitle">
                {{user.droppings| number: '1.0-0'}}/{{user.maxdroppings| number: '1.0-0'}}
                <span class="icon">
                  <fa-icon [icon]="['far', 'poop']" size="1x"></fa-icon>
                </span><br>
                droppings
              </h1>
            </div>
            <div class="column is-2">
              <h1 class="subtitle">
                {{user.feathers| number: '1.0-0'}}
                <span class="icon">
                  <fa-icon [icon]="['far', 'feather-alt']" size="1x"></fa-icon>
                </span>
                <br> feathers
              </h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="columns is desktop">
      <div class="column">
        <div class="box" [ngClass]="{'greyed':user.lvl<=user.farmlvl}">
          <article class="media">
            <div class="media-left">
              <!-- <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure> -->
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Farm Level : {{currentSeedsUpgrade.lvl}} -> {{nextSeedsUpgrade.lvl}}</strong>
                  <br>
                  Seeds per minute : {{currentSeedsUpgrade.newSeeds}} -> {{nextSeedsUpgrade.newSeeds}}
                  <br>
                  <button class="button is-small is-primary"
                    [disabled]="user.feathers<nextSeedsUpgrade.feathersCost || user.lvl<=user.farmlvl"
                    (click)="upgradeFarm()">Upgrade</button>
                  cost : {{nextSeedsUpgrade.feathersCost| numberAbbreviated}}
                  <span class="icon">
                    <fa-icon [icon]="['far', 'feather-alt']" size="1x"></fa-icon>
                  </span>
                  feathers and lvl > {{user.farmlvl}}
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="box" [ngClass]="{'greyed':user.lvl<=user.aviarylvl}">
          <article class="media">
            <div class="media-left">
              <!-- <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure> -->
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Aviary Level : {{currentAviaryUpgrade.lvl}} -> {{nextAviaryUpgrade.lvl}}</strong>
                  <br>
                  Max birds : {{currentAviaryUpgrade.newBirds}} -> {{nextAviaryUpgrade.newBirds}}
                  <br>
                  <button class="button is-small is-primary"
                    [disabled]="user.droppings<nextAviaryUpgrade.droppingsCost || user.lvl<=user.aviarylvl"
                    (click)="upgradeAviary()">Upgrade</button>
                  cost : {{nextAviaryUpgrade.droppingsCost}}
                  <span class="icon">
                    <fa-icon [icon]="['far', 'poop']" size="1x"></fa-icon>
                  </span> droppings and lvl > {{user.aviarylvl}}
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="column">
        <div class="box" [ngClass]="{'greyed':user.lvl<=user.farmstoragelvl}">
          <article class="media">
            <div class="media-left">
              <!-- <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure> -->
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Farm Storage Level : {{currentSeedsStorage.lvl| numberAbbreviated}} ->
                    {{nextSeedsStorage.lvl| numberAbbreviated}}</strong>
                  <br>
                  Max seeds : {{currentSeedsStorage.seedsStorage}} -> {{nextSeedsStorage.seedsStorage}}
                  <br>
                  <button class="button is-small is-primary"
                    [disabled]="(user.seeds<nextSeedsStorage.seedsCost)||(user.feathers<nextSeedsStorage.feathersCost) || user.lvl<=user.farmstoragelvl"
                    (click)="upgradeFarmStorage()">Upgrade</button>
                  cost : {{nextSeedsStorage.seedsCost| numberAbbreviated}}
                  <span class="icon">
                    <fa-icon [icon]="['far', 'seedling']" size="1x"></fa-icon>
                  </span>
                  seeds and
                  {{nextSeedsStorage.feathersCost}}
                  <span class="icon">
                    <fa-icon [icon]="['far', 'feather-alt']" size="1x"></fa-icon>
                  </span>
                  feathers and lvl > {{user.farmstoragelvl}}
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="box" [ngClass]="{'greyed':user.lvl<=user.droppingsstoragelvl}">
          <article class="media">
            <div class="media-left">
              <!-- <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure> -->
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Droppings Storage Level : {{currentDroppingsStorage.lvl}} ->
                    {{nextDroppingsStorage.lvl}}</strong>
                  <br>
                  Max droppings : {{currentDroppingsStorage.droppingsStorage| numberAbbreviated}} ->
                  {{nextDroppingsStorage.droppingsStorage| numberAbbreviated}}
                  <br>
                  <button class="button is-small is-primary"
                    [disabled]="(user.droppings<nextDroppingsStorage.droppingsCost)||(user.feathers<nextDroppingsStorage.feathersCost)|| user.lvl<=user.droppingsstoragelvl"
                    (click)="upgradeDroppingsStorage()">Upgrade</button>
                  cost : {{nextDroppingsStorage.droppingsCost| numberAbbreviated}}
                  <span class="icon">
                    <fa-icon [icon]="['far', 'poop']" size="1x"></fa-icon>
                  </span>
                  droppings and
                  {{nextDroppingsStorage.feathersCost}}
                  <span class="icon">
                    <fa-icon [icon]="['far', 'feather-alt']" size="1x"></fa-icon>
                  </span>
                  feathers and lvl > {{user.droppingsstoragelvl}}
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>