/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    width: 100%;
}

@beige: #feffdb;
@light-orange: #ffc60b;
@orange: #ff8b00;
@grey: #444444;
@blue: #209cee;

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mt-20 {
    margin-left: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-left: 10px;
}