<nav *ngIf="username" class="navbar has-shadow">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item">
                <span class="icon">
                    <fa-icon [icon]="['far', 'feather-alt']"></fa-icon>
                </span>
                <strong>Pigeons Agency</strong>
            </a>

            <div (click)="toggleMobileMenu(!this.burgerActive)" class="navbar-burger burger" data-target="navMenu" aria-label="menu"
                aria-expanded="false" [ngClass]="{'is-active': burgerActive}">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenu" class="navbar-menu" [ngClass]="{'is-active': burgerActive}">
            <div class="navbar-start">
                <a class="navbar-item" (click)="redirect(['/home'])" routerLinkActive="is-active">
                    Vue d'ensemble
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Installations
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" (click)="redirect(['/aviary'])" routerLinkActive="is-active">
                            <span class="icon">
                                <fa-icon [icon]="['far', 'home']"></fa-icon>
                            </span>
                            <span>Pigeonnier</span>
                        </a>
                        <a class="navbar-item" (click)="redirect(['/incubator'])" routerLinkActive="is-active">
                            <span class="icon">
                                <fa-icon [icon]="['far', 'warehouse']"></fa-icon>
                            </span>
                            <span>Incubateur</span>
                        </a>
                        <a class="navbar-item" (click)="redirect(['/laboratory'])" routerLinkActive="is-active">
                            <span class="icon">
                                <fa-icon [icon]="['far', 'flask']"></fa-icon>
                            </span>
                            <span>Laboratoire</span>
                        </a>
                    </div>
                </div>
                <a class="navbar-item" (click)="redirect(['/achievements'])" routerLinkActive="is-active">
                    <span class="icon">
                        <fa-icon [icon]="['far', 'scroll']"></fa-icon>
                    </span>
                    <span>Réalisations</span>
                </a>
                <a class="navbar-item" (click)="redirect(['/expeditions'])" routerLinkActive="is-active">
                    <span class="icon">
                        <fa-icon [icon]="['far', 'scroll']"></fa-icon>
                    </span>
                    <span>Expeditions</span>
                </a>
                <a class="navbar-item" (click)="redirect(['/map'])" routerLinkActive="is-active">
                    <span class="icon">
                        <fa-icon [icon]="['far', 'map']"></fa-icon>
                    </span>
                    <span>Carte</span>
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        {{username | titlecase}}
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" (click)="redirect(['/account'])" routerLinkActive="is-active">
                            Compte
                        </a>
                        <a class="navbar-item" (click)="redirect(['/settings'])" routerLinkActive="is-active">
                            Paramètres
                        </a>
                        <a class="navbar-item" (click)="logout()" routerLinkActive="is-active">
                            Déconnexion
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>