@import "../../../styles.less";
.first{
    background-color:@gold;
}
.second{
    background-color:@silver;
}
.third{
    background-color:@bronze;
}

.overflow{
    overflow:scroll;
}
.overflow::-webkit-scrollbar { width: 0 !important }