<div class="container" [ngClass]="{'is-loading': pageLoading, 'is-loaded': !pageLoading}">

  <div class="page-loader-wrapper">
    <div class="page-loader"></div>
  </div>
  <div *ngIf="!pageLoading">
    <div class="overflow">
    <table class="table table is-bordered">
      <thead>
        <tr>
            <th>Rank</th>
          <th>Player</th>
          <th>Military Score</th>
          <th>Spent Seeds</th>
          <th>Spent Droppings</th>
          <th>Spent Feathers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of allusers; index as i" [ngClass]="{'first':i==0,'second':i==1,'third':i==2}">
            <td>{{i+1}}</td>
          <td>{{user.username}}</td>
          <td>{{user.militaryscore}}</td>
          <td>{{user.totalspentseeds}}</td>
          <td>{{user.totalspentdroppings}}</td>
          <td>{{user.totalspentfeathers}}</td>
        </tr>
    </tbody>
    </table>
  </div>


  </div>
</div>