.card .media .media-left {
    margin-top: 1rem;
}
.my-expedition{
    //border:2px solid #23ce78;
    //box-shadow: 0px 5px 10px rgba(26, 194, 101, 0.4), 0 10px 5px rgba(0, 102, 245, 0.22);
    border-radius:5px;
    padding:2px;
    margin:3px;

}
.expedition{
    cursor:pointer;
    transition:all 0.3s ease;
    
}
.button.is-primary[disabled] {
    background-color: #cc3014;
}

.warning{
    color:#cc3014;
}

.progress{
    height:10px;
}
.greyed{
    background-color:rgba(128, 128, 128, 0.24);
}
@media screen and (max-width: 768px){
.is-half-mobile{
    padding: 0.25em;
}
}