<div class="container" [ngClass]="{'is-loading': pageLoading, 'is-loaded': !pageLoading}">
    <div class="page-loader-wrapper">
        <div class="page-loader"></div>
    </div>
    <div class="mt-20"></div>
    <div class="columns">
        <div class="column is-3">
            <div class="column">
                <div class="field">
                    <label class="label">Recherche (en dev)</label>
                    <div class="control">
                        <input #input class="input" type="text" placeholder="Rechercher une expédition">
                        <!-- (input)="filterAchievements(input.value)" -->
                    </div>
                </div>

                <div class="field">
                    <label class="label">Difficulté</label>
                    <div class="control">
                        <div class="select">
                            <select>
                                <option>Toutes</option>
                                <option>Facile</option>
                                <option>Moyen</option>
                                <option>Difficile</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <h1>Expeditions en cours</h1>
            <div *ngFor="let myexpedition of myExpeditions">
                <div *ngIf="!myexpedition.finished" class="my-expedition">
                    <p>Expedition : {{getExpeditionName(myexpedition.type)}}</p>
                    <p>lvl : {{myexpedition.lvl}}</p>
                    <p>Moins de {{getRemainingTime(myexpedition.starttime,myexpedition.duration)}} secondes restantes</p>
                </div>

            </div>
            <button (click)="getExpeditionsData()" type="text">update data</button>
        </div>
        <div class="column is-9">

            <div *ngFor="let expedition of filteredExpeditionsInfo" class="column">
                <div (click)="launchExpedition(expedition.id)" class="card expedition">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <div *ngIf="expedition.id; then completedBlock else unCompletedBlock"></div>
                                <ng-template #completedBlock>
                                    <span class="icon">
                                        <fa-icon [icon]="['far', 'trophy-alt']" size="2x"></fa-icon>
                                    </span>
                                </ng-template>
                                <ng-template #unCompletedBlock>
                                    <span class="icon">
                                        <fa-icon [icon]="['far', 'trophy']" size="2x"></fa-icon>
                                    </span>
                                </ng-template>
                            </div>
                            <div class="media-content">
                                <p class="title is-4">Expedition : {{getExpeditionName(expedition.id)}}</p>
                                <p class="subtitle is-6">Durée: {{expedition.duration/1000}} secondes</p>
                                <p class="subtitle is-6">Coût: {{expedition.seeds}} graines</p>
                            </div>
                        </div>

                        <div class="content">
                        </div>
                    </div>
                    <footer class="card-footer has-text-left">
                        <p class="card-footer-item">
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>

</div>